version: "3"
services:
  yarrrml-parser:
    environment:
      - PORT=${PARSER_PORT}
    #image: ghcr.io/mat-o-lab/yarrrml-parser:v.1.12.2
    build: yarrrml-parser/.
    expose:
      - ${PARSER_PORT}
    restart: always
    networks:
      - rdfconverter_net

  rmlmapper:
    # changing port doesnt work - issue on rmlmapper side
    environment:
      - PORT=${MAPPER_PORT}
    container_name: rmlmapper-webapi
    #image: ghcr.io/mat-o-lab/rmlmapper-webapi:latest
    build: rmlmapper-webapi/.
    expose:
      - ${MAPPER_PORT}
    restart: always
    networks:
      - rdfconverter_net
  rdfconverter:
    container_name: rdfconverter
    build: .
    env_file:
      - .env
    ports:
      - ${APP_PORT}:${CONVERTER_PORT}
    volumes:
      - ./:/src
    restart: always
    entrypoint: python app.py
    networks:
      - rdfconverter_net

networks:
  rdfconverter_net:
    name: rdfconverter_net
    driver: bridge
