click==8.0.3
colorama==0.4.4
dominate==2.6.0
Flask==2.0.2
Flask-Bootstrap==3.3.7.1
flask-swagger-ui==3.36.0
Flask-WTF==1.0.0
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
visitor==0.1.3
Werkzeug==2.0.3
WTForms==3.0.1
html5lib
gunicorn
rdflib>=6
requests
pyyaml
pyshacl
